﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@section NavbarAdd {
    <partial name="_LoginPartial" />
}

@section Styles {
    <style>
        #resultsTable {
            border-radius: 25px !important;
            border-width: 2px !important;
            border-style: solid !important;
            border-color: black !important;
            width: 90%; /*Tested and working as expected: */
            padding-top: 1%;
            margin: 0px auto;
            float: none;
        }

        .image-btm {
            background-image: url("/img/5236.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .table-body{
            opacity: 0.90;
        }
    </style>
}


<div class="container table-body mt-0">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron  text-light rounded bg-light mt-0">
                <table class="table mt-0">
                    <thead id="resultsTable">
                        <tr>
                            <th scope="col" class="text-dark">Title</th>
                            <th scope="col" class="text-dark">Type</th>
                            <th scope="col" class="text-dark">Requested By</th>
                            <th scope="col" class="text-dark">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Vm)
        {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.RequestType</td>
                            <td>@User.Identity.Name</td>
                            <td>@item.Status</td>
                        </tr>
        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12">
            <img src="./img/5236.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    
</div>

