﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Styles {
    <style>
        image-cover {
            background-image: url("/img/5236.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bg-light {
            opacity: .9;
            height: 100vh;
        }
    </style>
}


<div class="container bg-light">
    <main role="main" class="pb-3">
        <main role="main" class="inner cover">
            <div class="row">
                <div class="col-6 intro">
                    <div class="jumbotron">
                        <h1 class="h3">PEOPLE WHO NEED SUPPORT</h1>
                        <p class="lead">Are you in need of support due to the ongoing COVID-19 crisis?</p>
                        <hr class="my-4">
                        <p>If you are in isolation, shielding or you simply need some form of help or support due to the ongoing COVID-19 crisis, We are here for you. Please register here.</p>
                    </div>
                </div>
                <div class="col-6">
                    <h4 class="mb-3">@ViewData["Title"]</h4>
                    <hr />
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
        {
                    <div class="alert alert-danger" role="alert">
                        <a class="close" data-dismiss="alert">×</a>
                        @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                {
                        <p>@modelError.ErrorMessage</p>
                }
                    </div>
        }
                    <section>
                        <form id="account" method="post">
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Log in</button>
                                <a class="btn btn-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
           
            <div class="row">

                <div class="col-md-6">
                    <img src="/img/5236.jpg" class="img-fluid justify-content-center d-flex align-items-end" alt="Responsive image">
                </div>
            </div>
        </main>
    </main>
</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
