﻿@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}


    <div class="container">
        <main role="main" class="pb-3">
            <header>
                <h4 class="mb-3">@ViewData["Title"]</h4>
                <hr />
                <p>You have successfully logged out of the application.</p>
            </header>
        </main>
    </div>

    