﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <style>
        .image-register {
            background-image: url("/img/5236.jpg");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .hide{
            opacity: 0;
        }
    </style>
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="row">
            <div class="col-md-6">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4 class="mb-3">Create a new account.</h4>
                    <hr />
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
                    <div class="alert alert-danger" role="alert">
                        <a class="close" data-dismiss="alert">×</a>
                        @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                    {
                        <p>@modelError.ErrorMessage</p>
                    }
                    </div>
            }

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Input.FirstName">First name</label>
                            <input asp-for="Input.FirstName" class="form-control" placeholder="First name" required>
                            <span asp-validation-for="Input.FirstName"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="Input.LastName">Last name</label>
                            <input asp-for="Input.LastName" class="form-control" placeholder="Last name" required>
                            <span asp-validation-for="Input.LastName"></span>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Input.IdentityCardNumber">IC Number</label>
                            <input asp-for="Input.IdentityCardNumber" class="form-control" placeholder="Identity Card Number" required>
                            <span asp-validation-for="Input.IdentityCardNumber"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="Input.Age">Age</label>
                            <input asp-for="Input.Age" class="form-control" placeholder="Age" required>
                            <span asp-validation-for="Input.Age"></span>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Input.Gender">Gender</label>
                            <select asp-for="Input.Gender" class="custom-select" asp-items="Html.GetEnumSelectList<CovidEcs.Areas.Identity.Data.Gender>()">
                            </select>
                            <span asp-validation-for="Input.Gender"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="Input.MonthlyIncome">Monthly Income</label>
                            <input asp-for="Input.MonthlyIncome" class="form-control" placeholder="Monthly Income" required>
                            <span asp-validation-for="Input.MonthlyIncome"></span>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Input.Email">Email</label>
                            <input asp-for="Input.Email" class="form-control" placeholder="Email" required>
                            <span asp-validation-for="Input.Email"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="Input.PhoneNumber">Phone Number</label>
                            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" required>
                            <span asp-validation-for="Input.PhoneNumber"></span>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Input.Password">Password</label>
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" required>
                            <span asp-validation-for="Input.Password"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                            <span asp-validation-for="Input.ConfirmPassword"></span>
                        </div>

                    </div>

                    <a class="btn btn-outline-secondary" asp-area="Identity" asp-page="/Account/Login">Reset</a>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-12">
                        <img src="/img/5236.jpg" class="img-fluid justify-content-center d-flex align-items-end hide" alt="Responsive image">
                    </div>
                    <div class="col-12">
                        <img src="/img/5236.jpg" class="img-fluid justify-content-center d-flex align-items-end" alt="Responsive image">
                    </div>
                </div>
                @*<img src="/img/5236.jpg" class="img-fluid justify-content-center d-flex align-items-end hide" alt="Responsive image">*@
                
            </div>
        </div>
    </main>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}