﻿@page
@model CovidEcs.Pages.Support.IndexModel
@{
    ViewData["Title"] = "Support";
}

@section Styles {
    <style>
        .side-image {
            background-image: url("/img/5236.jpg");
            background-repeat: no-repeat;
            background-size: contain;
        }
        .hide{
            opacity: 0;
        }
    </style>
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="./img/5236.jpg" class="img-fluid justify-content-center d-flex align-items-end hide" alt="Responsive image">
            <img src="./img/5236.jpg" class="img-fluid justify-content-center d-flex align-items-end" alt="Responsive image">
        </div>
        <div class="col-md-6">
            <section>

                <form id="account" asp-page="Support" method="post">
                    <h4 class="mb-3">Request Support</h4>
                    <hr />
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    <div class="alert alert-danger" role="alert">
                        <a class="close" data-dismiss="alert">×</a>
                        <p>All fields are required</p>
                    </div>
                }
                    <div class="form-group">
                        <label asp-for="Input.Title"></label>
                        <input asp-for="Input.Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.RequestType">Request Type</label>
                        <select asp-for="Input.RequestType" class="custom-select" asp-items="Html.GetEnumSelectList<CovidEcs.Pages.Support.IndexModel.RequestTypeDto>()">
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.Address">Address</label>
                            <textarea asp-for="Input.Address" class="form-control" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.Description">Describe your request</label>
                            <textarea asp-for="Input.Description" class="form-control" required></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <a asp-page="/Index" class="btn btn-outline-primary">Reset</a>
                    </div>
                </form>
            </section>
        </div>

    </div>
</div>


