﻿@using Microsoft.AspNetCore.Identity
@using CovidEcs.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ml-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link btn btn-primary text-light" asp-page="/Support/Index">Request Support</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-link text-light" asp-page="/Support/Index"></a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-primary text-light">Logout</button>
        </form>
    </li>
}
else
{

}
</ul>
